.search-bar {
    margin-top: 200px;
    width: 100%;
    height: 100px;
    position: relative;
}
.search-bar input {
    width: 30%;
    height: 30px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border:1px solid #bababa;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #bababa; 
}
input:focus{
    outline: none;
}
.search-bar input:hover{
    border:1px solid #bababa;
}

.logo{
    height: 300px;
    width: 550px;
    position: absolute;
    top: -55%;
    left:50%;
    transform: translate(-50%,-50%);
}